In [84]:
import sys
import os
from datetime import datetime 
import pandas as pd
from misc import dossier

tetten

In [10]:
data = pd.read_parquet("data/demo/custom_wvs7_data.parquet")
data

,country,mode,settlement,respint,intprivacy,sex,immigrant,immigrant_mother,immigrant_father,birth_country,...,profession_spouse,profession_father,employment_sector,chief_earner,savings,subjective_social_class,income_scale,religion,generation,political_engagement
0,20,2,1,1,1,2,2,2,2,0,...,8,10,2,2,3,3,2,2,1,1
1,20,2,2,1,1,1,1,2,2,1,...,4,5,2,1,1,2,3,2,2,0
2,20,2,2,1,1,1,2,2,2,0,...,0,6,2,1,2,3,2,2,2,0
3,20,2,2,2,1,2,2,2,2,0,...,7,10,2,2,2,4,2,1,1,0
4,20,2,2,2,1,1,2,2,2,0,...,6,9,2,1,1,4,2,1,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94273,909,1,5,1,1,2,1,1,1,0,...,4,6,1,1,2,3,2,3,0,0
94274,909,3,4,1,1,1,1,1,1,0,...,4,5,1,2,2,3,2,3,3,1
94275,909,1,5,1,1,2,1,1,1,0,...,2,5,2,2,1,3,2,3,4,0
94276,909,1,3,1,1,2,1,2,1,0,...,5,5,2,2,3,3,3,2,4,0
94277,909,1,5,2,1,1,1,1,1,0,...,6,6,2,1,3,3,2,3,2,0

In [41]:
x = data.sample(frac=1).reset_index(drop=True)
x

,country,mode,settlement,respint,intprivacy,sex,immigrant,immigrant_mother,immigrant_father,birth_country,...,profession_spouse,profession_father,employment_sector,chief_earner,savings,subjective_social_class,income_scale,religion,generation,political_engagement
0,528,3,3,1,1,2,1,2,2,1,...,2,6,1,2,3,2,3,3,3,0
1,434,1,2,2,2,2,1,1,1,1,...,4,3,0,2,2,3,2,6,3,1
2,152,1,2,1,1,1,1,1,1,1,...,3,3,2,1,1,3,2,2,2,1
3,792,2,2,2,1,1,1,1,1,1,...,1,7,2,1,4,3,2,6,2,0
4,218,1,3,1,1,1,1,1,1,1,...,4,7,2,1,1,4,2,2,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89613,642,1,3,2,2,2,1,1,1,1,...,7,8,2,2,1,3,2,4,3,1
89614,360,1,5,1,2,1,1,1,1,1,...,5,11,2,1,2,3,3,6,2,1
89615,124,3,4,1,1,1,1,1,1,1,...,1,8,2,1,1,2,2,2,1,0
89616,462,1,5,2,1,1,1,1,1,1,...,0,11,2,2,3,2,1,6,4,1
89617,840,3,4,3,1,2,2,2,2,0,...,1,2,2,2,1,4,1,1,3,0

In [17]:
date_range = list(pd.date_range(start="2024-01-01", end="2024-12-31", freq="MS"))
date_range

[Timestamp('2024-01-01 00:00:00'),
 Timestamp('2024-02-01 00:00:00'),
 Timestamp('2024-03-01 00:00:00'),
 Timestamp('2024-04-01 00:00:00'),
 Timestamp('2024-05-01 00:00:00'),
 Timestamp('2024-06-01 00:00:00'),
 Timestamp('2024-07-01 00:00:00'),
 Timestamp('2024-08-01 00:00:00'),
 Timestamp('2024-09-01 00:00:00'),
 Timestamp('2024-10-01 00:00:00'),
 Timestamp('2024-11-01 00:00:00'),
 Timestamp('2024-12-01 00:00:00')]

In [53]:
lower_bound = 0
upper_bound = threshold = len(x) / 12

for i, v in enumerate(date_range):
    x.loc[lower_bound:upper_bound, "dump_date"] = v
    lower_bound += threshold
    upper_bound += threshold or None

In [54]:
x

,country,mode,settlement,respint,intprivacy,sex,immigrant,immigrant_mother,immigrant_father,birth_country,...,profession_father,employment_sector,chief_earner,savings,subjective_social_class,income_scale,religion,generation,political_engagement,dump_date
0,528,3,3,1,1,2,1,2,2,1,...,6,1,2,3,2,3,3,3,0,2024-01-01
1,434,1,2,2,2,2,1,1,1,1,...,3,0,2,2,3,2,6,3,1,2024-01-01
2,152,1,2,1,1,1,1,1,1,1,...,3,2,1,1,3,2,2,2,1,2024-01-01
3,792,2,2,2,1,1,1,1,1,1,...,7,2,1,4,3,2,6,2,0,2024-01-01
4,218,1,3,1,1,1,1,1,1,1,...,7,2,1,1,4,2,2,3,0,2024-01-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89613,642,1,3,2,2,2,1,1,1,1,...,8,2,2,1,3,2,4,3,1,2024-12-01
89614,360,1,5,1,2,1,1,1,1,1,...,11,2,1,2,3,3,6,2,1,2024-12-01
89615,124,3,4,1,1,1,1,1,1,1,...,8,2,1,1,2,2,2,1,0,2024-12-01
89616,462,1,5,2,1,1,1,1,1,1,...,11,2,2,3,2,1,6,4,1,2024-12-01
89617,840,3,4,3,1,2,2,2,2,0,...,2,2,2,1,4,1,1,3,0,2024-12-01

In [55]:
x

,country,mode,settlement,respint,intprivacy,sex,immigrant,immigrant_mother,immigrant_father,birth_country,...,profession_father,employment_sector,chief_earner,savings,subjective_social_class,income_scale,religion,generation,political_engagement,dump_date
0,528,3,3,1,1,2,1,2,2,1,...,6,1,2,3,2,3,3,3,0,2024-01-01
1,434,1,2,2,2,2,1,1,1,1,...,3,0,2,2,3,2,6,3,1,2024-01-01
2,152,1,2,1,1,1,1,1,1,1,...,3,2,1,1,3,2,2,2,1,2024-01-01
3,792,2,2,2,1,1,1,1,1,1,...,7,2,1,4,3,2,6,2,0,2024-01-01
4,218,1,3,1,1,1,1,1,1,1,...,7,2,1,1,4,2,2,3,0,2024-01-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89613,642,1,3,2,2,2,1,1,1,1,...,8,2,2,1,3,2,4,3,1,2024-12-01
89614,360,1,5,1,2,1,1,1,1,1,...,11,2,1,2,3,3,6,2,1,2024-12-01
89615,124,3,4,1,1,1,1,1,1,1,...,8,2,1,1,2,2,2,1,0,2024-12-01
89616,462,1,5,2,1,1,1,1,1,1,...,11,2,2,3,2,1,6,4,1,2024-12-01
89617,840,3,4,3,1,2,2,2,2,0,...,2,2,2,1,4,1,1,3,0,2024-12-01

In [61]:
x.dump_date.value_counts()

dump_date
2024-01-01    7469
2024-07-01    7469
2024-02-01    7468
2024-03-01    7468
2024-04-01    7468
2024-05-01    7468
2024-06-01    7468
2024-08-01    7468
2024-09-01    7468
2024-10-01    7468
2024-11-01    7468
2024-12-01    7468
Name: count, dtype: int64

In [62]:
x.isnull().sum().sum()

0

In [80]:
for d in list(x.dump_date.unique()):
    data_path = f"./data/demo/batches/wvs7_{d.date()}.parquet"
    x[x.dump_date == d].drop(columns="dump_date").to_parquet(data_path, index=False)

In [81]:
y = pd.read_parquet("data/demo/batches/wvs7_2024-01-01.parquet")

In [82]:
y

,country,mode,settlement,respint,intprivacy,sex,immigrant,immigrant_mother,immigrant_father,birth_country,...,profession_spouse,profession_father,employment_sector,chief_earner,savings,subjective_social_class,income_scale,religion,generation,political_engagement
0,528,3,3,1,1,2,1,2,2,1,...,2,6,1,2,3,2,3,3,3,0
1,434,1,2,2,2,2,1,1,1,1,...,4,3,0,2,2,3,2,6,3,1
2,152,1,2,1,1,1,1,1,1,1,...,3,3,2,1,1,3,2,2,2,1
3,792,2,2,2,1,1,1,1,1,1,...,1,7,2,1,4,3,2,6,2,0
4,218,1,3,1,1,1,1,1,1,1,...,4,7,2,1,1,4,2,2,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7464,104,1,4,2,1,2,1,1,1,1,...,5,9,2,2,2,3,1,8,3,1
7465,368,1,1,1,1,2,1,1,1,1,...,8,1,0,2,3,5,1,6,3,1
7466,554,4,2,1,1,1,2,1,1,0,...,4,2,2,1,1,2,2,1,2,0
7467,76,1,1,1,1,2,1,1,1,1,...,0,7,1,1,4,4,2,1,1,0
7468,360,1,5,1,2,1,1,1,1,1,...,0,9,2,2,1,3,1,6,3,0